#projectwonderful, #websitealive, #doubleclick {
	/*visibility: hidden;*/
	position: fixed;
	top: 0;
	right: 0;
}

.a {
	width: 1px;
	height: 1px;
}

:link, :visited {
    /* for all links */
    text-decoration: underline;
}

:link {
    /* for unvisited links */
    color: blue;
}

:visited {
    /* for visited links */
    color: purple;
}
