body, .main {
	background-color: rgb(226, 243, 235);
}

.main {
	top: 5em;
	max-width: 640px;
	margin: -5em auto 0;
}

.nav {
	padding: 2em 0 10em;
}

.nav, .nav div, .nav a.current, .nav a:hover {
	background-color: rgb(15, 157, 88);
}

.nav a {
	color: #fff;
}

.topthing {
	height: 8px;
	background-color: rgb(185, 246, 202);
}

.question, .title {
	padding: 2em;
	font-family: Roboto, Arial, sans-serif;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(153, 153, 153, 0.5);
}

.chooser > header, .title > header {
	font-size: 20pt;
	padding-bottom: 1em;
}

h1 {
	font-weight: 500;
	font-size: 28pt;
}

label {
	display: block;
	padding: 0.5em 0;
}

label input[type="radio"], label input[type="checkbox"] {
	margin-right: 0.5em;
}
