body, .main {
	background-color: #6c6;
}

.question, .title {
	padding: 2em;
	font-family: Roboto, Arial, sans-serif;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

.question > header, .title > header {
	font-weight: 800;
	font-size: 24pt;
}

label {
	display: block;
	padding: 0.25em 0;
}

label input[type="radio"], label input[type="checkbox"] {
	margin-right: 0.5em;
}
